body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #b0afaf;
    box-sizing: border-box;
}

.nav_content{
    display: flex;
}

.nav_content_side > * {
    padding:4px;
}

.nav_content > * {
    padding:0.2px 0.2em;
}

.nav_content{
    font-size: 3em;
    padding:0.2em 0.2em;
    font-family: 'Montserrat', sans-serif;
}

.nav_content_side{
    display: flex;
    transition: 500ms;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
}

.nav_item > a{
    text-decoration: none;
    color:black;
}

.nav_item img{
    height:35px;
    width:35px;
}

.nav_item:hover{
    background-color: #22D2A0;
    cursor: pointer;
    transition: 500ms;
}

a{
    display: inline-block;
}



