body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #b0afaf;
}

.nav_content{
    display: flex;
    box-sizing: border-box;
}

.nav_content > * {
    padding:4px;
}

.nav_item{
    transition: 500ms;
}

.nav_item > a{
    text-decoration: none;
    color:black;
}

.nav_item:hover{
    background-color: #22D2A0;
    cursor: pointer;
    transition: 500ms;
}



