@media screen and (min-width:376px) {
    .alert-info-hidden-on-desktop {
        display: none;
    }
    h1{
        display: flex;
        justify-content: left;
    }
    ul.nav-links{
        list-style-type: none;
    }
    li{
        margin:20px;
        float:right;
    }
    img{
        height:400px;
        width:100%;
    }
    #main{
        float: left;
        width:47%;
    }
    .sub-section{
        margin-left:200px;
        width:35%;
        float:left;
    }
    footer{
        float:left;
        margin-top:200px;
    }
}

@media screen and (max-width:375px){
    .alert-info-hidden-on-desktop {
        background-color: lightblue;
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        text-align: center;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        padding:10px;
        justify-content: center;
    }
    li>a{
        margin-left:50px;

    }
    ul.nav-links{
        list-style-type: none;
    }
    li{
        margin:10px 0;
        background-color: lightgrey;
        padding:20px 100px;
    }
    img{
        height:224px;
        width:100%;
    }

}



