body {
    margin: 0;
}

@keyframes colorText {
    from{color:#cbffcd;}
    to{color:black;}
}

.nav_header{
    width:70%;
    text-align: center;
    font-size: xx-large;
    animation-name:colorText;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color:#cbffcd;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    font-family: 'Permanent Marker', cursive;
}

.nav_pic > img {
    width:50px;
    height:50px;
    margin-left: 70px;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:darkseagreen;
}

nav{
    display: flex;
    background-color:lightgrey;
    height: 120px;
    align-items: center;
}

.p1{
    width:100%;
    height:400px;
    background-color: #cbffcd;
    font-family: 'Alfa Slab One', cursive;
}

header{
    text-align: center;
}

#header1{
    display: flex;
    justify-content: center;
}

#header1 img{
    height:300px;
    width:300px;
}

.top{
    position: absolute;
}

.bottom{
    position: absolute;
    margin-top: 275px;
}

@keyframes top{
    from{color:blue;}
    to{color:red;}
}

@keyframes bottom{
    from{color:red;}
    to{color:blue;}
}

.top{
    animation-name:top;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color:blue;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
}

.bottom {
    animation-name:bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color:red;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
}

/*#slide {*/
/*    position: absolute;*/
/*    left: -100px;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: blue;*/
/*    -webkit-animation: slide 0.5s forwards;*/
/*    -webkit-animation-delay: 2s;*/
/*    animation: slide 0.5s forwards;*/
/*    animation-delay: 2s;*/
/*}*/

/*@-webkit-keyframes slide {*/
/*    100% { left: 0; }*/
/*}*/

/*@keyframes slide {*/
/*    100% { left: 0; }*/
/*}*/

#slide {
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 150%;
    }

    to {
        margin-left: 25%;
        width: 50%;
    }
}
