/*
multi
line
comment
*/
#banana{
    background-image: url("https://c.tenor.com/vAujXa-no4cAAAAM/mr-banana-yeah.gif");
    float:left;
    background-repeat: no-repeat;
    width:100px;
    height: 100px;


}

#FirstTitle{
    background-image: url("https://c.tenor.com/jDxcgLJt0MQAAAAC/vegito-final.gif");
    background-repeat: no-repeat;
    padding:10px 95px 200px 100px;
    box-shadow: 20px 20px 10px 0 rgba(0,0,0,0.75);

}
.center {
    display: block;
    margin-left: 475px;
    margin-right: auto;
    width: 20%;
}
.fancy-header {
    color:darkred;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -900%);
}
h2 {
    text-decoration: underline;
    color: darkorange;

}
body {
    font-family: "Apple SD Gothic Neo";
    background-color: transparent;
    background-size: cover;
    background-image: url(https://news.wttw.com/sites/default/files/styles/full/public/article/image-non-gallery/ee3b6579-97bb-4fea-899c-d2425f456cc5.jpg?itok=wbmbZ9AT);
}

li {
    margin: 0px;
    padding: 12px 0 1px 24px;
    list-style: none;
    background-image: url(http://pm1.narvii.com/6528/b2fc3e6d07bf43b9382fd3333fe13872b3424e6d_00.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}


table, th,td{
    border: 2px solid orange;
    color: white;
    padding: 10px 10px 10px;
}

.guarantee{
    color:white;
}

a:link{
    color: black;
}

a:visited{
    color:whitesmoke;
}

a:hover {
    color: orange;
    font-size: 15px;
}

a:active{
    color:darkred;
}

