/*
multi
line
comment
*/
#FirstTitle{
    background-image: url(https://c.tenor.com/jDxcgLJt0MQAAAAC/vegito-final.gif);
    background-repeat: no-repeat;
    padding:80px 80px 80px;
    background-position: center;
}
.fancy-header {
    color:darkred;
    text-decoration: underline;
    text-align: center;
}
h2 {
    text-decoration: underline;
    color: darkorange;

}
body {
    font-family: "Apple SD Gothic Neo";
    background-color: transparent;
    background-size: cover;
    background-image: url(https://news.wttw.com/sites/default/files/styles/full/public/article/image-non-gallery/ee3b6579-97bb-4fea-899c-d2425f456cc5.jpg?itok=wbmbZ9AT);
}

li {
    margin: 0px;
    padding: 12px 0 1px 24px;
    list-style: none;
    background-image: url(http://pm1.narvii.com/6528/b2fc3e6d07bf43b9382fd3333fe13872b3424e6d_00.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}


table, th,td{
    border: 2px solid orange;
    color: white;
    padding: 10px 10px 10px;
}

.guarantee{
    color:white;
}

a:link{
    color: black;
}

a:visited{
    color:whitesmoke;
}

a:hover {
    color: orange;
    font-size: 15px;
}

a:active{
    color:darkred;
}

